<a href="https://colab.research.google.com/github/AlexBB999/Thinkful/blob/master/DataCleaning2_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Import the SQL ALchemy engine
from sqlalchemy import create_engine

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [0]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useducation'

In [0]:
# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

In [0]:
#youtube_df = pd.read_sql_query('select * from youtube',con=engine)
ed0 = pd.read_sql_query('select * FROM useducation',con=engine)


#educate= engine.execute('SELECT * FROM useducation' )
engine.dispose()

In [0]:
# use fetchall() to get a list of rows from the results.
#ed = educate.fetchall()

In [0]:
ed=ed0.copy()

In [0]:
ed1=ed0.copy()

In [0]:
ed2=ed0.copy()

In [10]:
ed.head()

       PRIMARY_KEY       STATE  ...  AVG_READING_4_SCORE  AVG_READING_8_SCORE
0     1992_ALABAMA     ALABAMA  ...           207.963517                  NaN
1      1992_ALASKA      ALASKA  ...                  NaN           258.859712
2     1992_ARIZONA     ARIZONA  ...           206.212716           262.169895
3    1992_ARKANSAS    ARKANSAS  ...           208.634458           264.619665
4  1992_CALIFORNIA  CALIFORNIA  ...           196.764414                  NaN

[5 rows x 25 columns]

In [11]:
ed[ed['YEAR']==1993]['AVG_MATH_4_SCORE'].mean()

nan

In [12]:
ed.groupby('YEAR')['AVG_MATH_4_SCORE'].mean()

YEAR
1992    218.410116
1993           NaN
1994           NaN
1995           NaN
1996    221.479509
1997           NaN
1998           NaN
1999           NaN
2000    224.803526
2001           NaN
2002           NaN
2003    233.874626
2004           NaN
2005    237.053410
2006           NaN
2007    239.147568
2008           NaN
2009    239.127842
2010           NaN
2011    240.477019
2012           NaN
2013    241.891073
2014           NaN
2015    240.233705
2016           NaN
2017    239.202783
Name: AVG_MATH_4_SCORE, dtype: float64

In [13]:
ed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
PRIMARY_KEY                     1492 non-null object
STATE                           1492 non-null object
YEAR                            1492 non-null int64
ENROLL                          1229 non-null float64
TOTAL_REVENUE                   1280 non-null float64
FEDERAL_REVENUE                 1280 non-null float64
STATE_REVENUE                   1280 non-null float64
LOCAL_REVENUE                   1280 non-null float64
TOTAL_EXPENDITURE               1280 non-null float64
INSTRUCTION_EXPENDITURE         1280 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1280 non-null float64
OTHER_EXPENDITURE               1229 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1280 non-null float64
GRADES_PK_G                     1319 non-null float64
GRADES_KG_G                     1360 non-null float64
GRADES_4_G                      1361 non-null float64
GRADES_8_G                      1361 non-null float64
GRADES_12_G                     1361 non-null float64
GRADES_1_8_G                    1361 non-null float64
GRADES_9_12_G                   1361 non-null float64
GRADES_ALL_G                    1319 non-null float64
AVG_MATH_4_SCORE                536 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             533 non-null float64
AVG_READING_8_SCORE             498 non-null float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

In [0]:
#ed.isnull()

In [0]:
#for column_name in ed.columns:
    #print("Unique values in column {} are: {}".format(column_name, ed[column_name].unique()))

GET A SENSE OF THE MAGNITUDE OF THE MSSING VALUES -- percentage missing for each column

In [14]:
ed.isnull().sum()*100/ed.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          17.627346
TOTAL_REVENUE                   14.209115
FEDERAL_REVENUE                 14.209115
STATE_REVENUE                   14.209115
LOCAL_REVENUE                   14.209115
TOTAL_EXPENDITURE               14.209115
INSTRUCTION_EXPENDITURE         14.209115
SUPPORT_SERVICES_EXPENDITURE    14.209115
OTHER_EXPENDITURE               17.627346
CAPITAL_OUTLAY_EXPENDITURE      14.209115
GRADES_PK_G                     11.595174
GRADES_KG_G                      8.847185
GRADES_4_G                       8.780161
GRADES_8_G                       8.780161
GRADES_12_G                      8.780161
GRADES_1_8_G                     8.780161
GRADES_9_12_G                    8.780161
GRADES_ALL_G                    11.595174
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

In [15]:
ed.isnull().sum()

PRIMARY_KEY                       0
STATE                             0
YEAR                              0
ENROLL                          263
TOTAL_REVENUE                   212
FEDERAL_REVENUE                 212
STATE_REVENUE                   212
LOCAL_REVENUE                   212
TOTAL_EXPENDITURE               212
INSTRUCTION_EXPENDITURE         212
SUPPORT_SERVICES_EXPENDITURE    212
OTHER_EXPENDITURE               263
CAPITAL_OUTLAY_EXPENDITURE      212
GRADES_PK_G                     173
GRADES_KG_G                     132
GRADES_4_G                      131
GRADES_8_G                      131
GRADES_12_G                     131
GRADES_1_8_G                    131
GRADES_9_12_G                   131
GRADES_ALL_G                    173
AVG_MATH_4_SCORE                956
AVG_MATH_8_SCORE                960
AVG_READING_4_SCORE             959
AVG_READING_8_SCORE             994
dtype: int64

In [0]:
#ed.LOCAL_REVENUE.value_counts(dropna=False)

ANSWERS

1 - VARIABLE TYPE AND FRACTION MISSING --SEE ABOVE

 OVER 10% MISSING FORGET FILLING IN MISSING VALUES UNLESS COLUMN IS CRITICAL  -- drop column

2 - Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variables. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?


 AVG MATH AND READING GRADES 4 AND 8 ARE MISSING ALMOST 2/3 OF ENTRIES -- DROP THESE 4  COLUMNS

In [0]:
ed["GRADES_4_G"]=ed['GRADES_4_G'].interpolate()
ed["GRADES_8_G"]=ed['GRADES_8_G'].interpolate()
ed["GRADES_12_G"]=ed['GRADES_12_G'].interpolate()

PROBLEM 3 BELOW

Now, take into account the time factor. Replicate your second answer but this time fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill a missing value for a variable with the mean of that variable, calculate the mean by using only the observations **for that specific year**.

In [17]:
type(ed1.groupby('YEAR')['AVG_MATH_4_SCORE'])
#e_year=np.nanmean(ed.groupby('YEAR')['AVG_MATH_4_SCORE'],axis=1)
#e_year

pandas.core.groupby.generic.SeriesGroupBy

In [18]:
ed1['GRADES_4_G'].describe()

count      1361.000000
mean      64538.927259
std       80293.387625
min         633.000000
25%       13739.000000
50%       43272.000000
75%       75481.000000
max      493415.000000
Name: GRADES_4_G, dtype: float64

In [19]:

#df.D = df.groupby(['A','B','C'])['D'].apply(lambda x: x.fillna(x.mean()))
#df.D = df.groupby(['A','B','C'])['D'].apply(lambda x: x.fillna(x.mean()))
ed1["GRADES_4_G"]=ed1.groupby(['YEAR'])["GRADES_4_G"].apply(lambda x: x.fillna(x.mean()))
ed1["GRADES_8_G"]=ed1.groupby(['YEAR'])["GRADES_8_G"].apply(lambda x: x.fillna(x.mean()))
ed1["GRADES_12_G"]=ed1.groupby(['YEAR'])["GRADES_12_G"].apply(lambda x: x.fillna(x.mean()))

ed1['GRADES_4_G'].describe()

count      1390.000000
mean      64590.152441
std       79451.944548
min         633.000000
25%       14190.500000
50%       44909.500000
75%       75149.750000
max      493415.000000
Name: GRADES_4_G, dtype: float64

In [20]:
ed1.isnull().sum()

PRIMARY_KEY                       0
STATE                             0
YEAR                              0
ENROLL                          263
TOTAL_REVENUE                   212
FEDERAL_REVENUE                 212
STATE_REVENUE                   212
LOCAL_REVENUE                   212
TOTAL_EXPENDITURE               212
INSTRUCTION_EXPENDITURE         212
SUPPORT_SERVICES_EXPENDITURE    212
OTHER_EXPENDITURE               263
CAPITAL_OUTLAY_EXPENDITURE      212
GRADES_PK_G                     173
GRADES_KG_G                     132
GRADES_4_G                      102
GRADES_8_G                      102
GRADES_12_G                     102
GRADES_1_8_G                    131
GRADES_9_12_G                   131
GRADES_ALL_G                    173
AVG_MATH_4_SCORE                956
AVG_MATH_8_SCORE                960
AVG_READING_4_SCORE             959
AVG_READING_8_SCORE             994
dtype: int64

In [0]:
#ed1.groupby('YEAR')["GRADES_4_G"].mean()

In [21]:
ed1['GRADES_4_G'].describe()

count      1390.000000
mean      64590.152441
std       79451.944548
min         633.000000
25%       14190.500000
50%       44909.500000
75%       75149.750000
max      493415.000000
Name: GRADES_4_G, dtype: float64

In [22]:
ed1["GRADES_4_G"].mean()

64590.15244077719

In [0]:
#ed1.groupby(['YEAR','STATE',"GRADES_4_G"]).mean()

# ///////////////////////////////////////////////////////////////////////////////////////////////////////

PROBLEM 4

4. This time, fill in the missing values using interpolation (extrapolation).

In [0]:
ed2['GRADES_4_G'].describe()

count      1361.000000
mean      64538.927259
std       80293.387625
min         633.000000
25%       13739.000000
50%       43272.000000
75%       75481.000000
max      493415.000000
Name: GRADES_4_G, dtype: float64

In [0]:
ed2["GRADES_4_G"]=ed2['GRADES_4_G'].interpolate()
ed2["GRADES_8_G"]=ed2['GRADES_8_G'].interpolate()
ed2["GRADES_12_G"]=ed2['GRADES_12_G'].interpolate()



#ed2["GRADES_8_G"]=ed2.groupby(['YEAR'])["GRADES_8_G"].apply(lambda x: x.fillna(x.interpolate(limit_direction='both')))
#ed2["GRADES_12_G"]=ed2.groupby(['YEAR'])["GRADES_12_G"].apply(lambda x: x.fillna(x.interpolate(limit_direction='both')))

In [31]:
ed2['GRADES_4_G'].describe()

count      1492.000000
mean      59797.646113
std       78406.899202
min         633.000000
25%       10117.250000
50%       38280.500000
75%       72310.250000
max      493415.000000
Name: GRADES_4_G, dtype: float64

In [0]:
#ed2.isnull().sum()

In [0]:
ed2['GRADES_4_G'].describe()

count      1390.000000
mean      63313.416547
std       79901.750909
min         633.000000
25%       12412.500000
50%       42089.500000
75%       75149.750000
max      493415.000000
Name: GRADES_4_G, dtype: float64

In [0]:
#ed2.head()

In [0]:
fill_list = ["ENROLL", "TOTAL_REVENUE", "FEDERAL_REVENUE",\
"STATE_REVENUE", "LOCAL_REVENUE", "TOTAL_EXPENDITURE",\ 
"INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE",\
"OTHER_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE", "GRADES_PK_G","GRADES_KG_G", "GRADES_4_G", "GRADES_8_G", "GRADES_12_G", "GRADES_1_8_G", "GRADES_9_12_G", "GRADES_ALL_G"]

In [0]:
fill_list=list(ed0)
fill_list

['PRIMARY_KEY',
 'STATE',
 'YEAR',
 'ENROLL',
 'TOTAL_REVENUE',
 'FEDERAL_REVENUE',
 'STATE_REVENUE',
 'LOCAL_REVENUE',
 'TOTAL_EXPENDITURE',
 'INSTRUCTION_EXPENDITURE',
 'SUPPORT_SERVICES_EXPENDITURE',
 'OTHER_EXPENDITURE',
 'CAPITAL_OUTLAY_EXPENDITURE',
 'GRADES_PK_G',
 'GRADES_KG_G',
 'GRADES_4_G',
 'GRADES_8_G',
 'GRADES_12_G',
 'GRADES_1_8_G',
 'GRADES_9_12_G',
 'GRADES_ALL_G',
 'AVG_MATH_4_SCORE',
 'AVG_MATH_8_SCORE',
 'AVG_READING_4_SCORE',
 'AVG_READING_8_SCORE']

In [0]:
#fill_list

PROBLEM 5

In [0]:
fill_list2=["GRADES_4_G", "GRADES_8_G", "GRADES_12_G"]

In [0]:
for col in fill_list:
  ed2[col]=ed2.groupby(['YEAR'])[col].apply(lambda x: x.fillna(x.interpolate(limit_direction='both')))

In [37]:
for col in fill_list2:
  print("Statistics for columns: {}".format(col))
  print(pd.concat([ed0[col],ed[col], ed1[col],
  ed2[col]], axis=1).describe())

Statistics for columns: GRADES_4_G
          GRADES_4_G     GRADES_4_G     GRADES_4_G     GRADES_4_G
count    1361.000000    1492.000000    1390.000000    1492.000000
mean    64538.927259   59797.646113   64590.152441   59797.646113
std     80293.387625   78406.899202   79451.944548   78406.899202
min       633.000000     633.000000     633.000000     633.000000
25%     13739.000000   10117.250000   14190.500000   10117.250000
50%     43272.000000   38280.500000   44909.500000   38280.500000
75%     75481.000000   72310.250000   75149.750000   72310.250000
max    493415.000000  493415.000000  493415.000000  493415.000000
Statistics for columns: GRADES_8_G
          GRADES_8_G     GRADES_8_G     GRADES_8_G     GRADES_8_G
count    1361.000000    1492.000000    1390.000000    1492.000000
mean    64271.057311   59511.380027   64331.744106   59511.380027
std     78910.545776   77123.573668   78083.976028   77123.573668
min       437.000000     437.000000     437.000000     437.000000
25%     13342.000000   10252.000000   13698.250000   10252.000000
50%     43339.000000   38114.500000   44756.500000   38114.500000
75%     76566.000000   72598.250000   75016.250000   72598.250000
max    500143.000000  500143.000000  500143.000000  500143.000000
Statistics for columns: GRADES_12_G
        GRADES_12_G    GRADES_12_G    GRADES_12_G    GRADES_12_G
count    1361.00000    1492.000000    1390.000000    1492.000000
mean    54268.92432   50207.239276   54418.075582   50207.239276
std     67889.27623   66309.867155   67187.337112   66309.867155
min       311.00000     311.000000     311.000000     311.000000
25%     10919.00000    8951.000000   11161.750000    8951.000000
50%     36735.00000   33279.000000   37541.500000   33279.000000
75%     67460.00000   64920.500000   67026.000000   64920.500000
max    498403.00000  498403.000000  498403.000000  498403.000000